<form id="delete_profile" method="POST" action="/delete-profile">
  <span><h2>Delete Profile</h2></span>
  Are you sure you want to delete your profile? 
  <input class="user_button" type="submit"> 
  <input class="user_button" type="reset" value="Cancel">
</form>
