<form id="edit_profile" method="POST" action="/edit-profile">
   <input type="text" name="[profile]fname" placeholder="firstname"><br>
   <input type="text" name="[profile]lname" placeholder="lastname"><br>
   <input type="text" name="[user]email" placeholder="Email"><br>
   <input type="text" name="[profile]city" placeholder="City"><br>
   <input type="text" name="[profile]dob" placeholder="Birthday"><br>
   <input type="submit">
</form>

