<form id="edit_profile" method="POST" action="/edit-profile">
   <input type="text" name="firstname" required><br>
   <input type="text" name="lastname" required><br>
   <input type="text" name="email"><br>
   <input type="submit">
</form>
