<div>
  <form method="POST" action="/post" class="post">
     <label for="post"></label>
     <textarea rows="4" cols="40" type="text" placeholder="Post" name="post" maxlength="150"></textarea>
     <label for="submit">                    </label>
     <input class="user_button" type="submit"></input>
  </form>
   
  <div id="past_10_posts">
    <% if @post %>
      <% if @post.count > 0 %>
        <% @post.last(10).reverse.each do |post| %>
          <div class="each_post">
            <%= post.body %>  
          </div>
          <br>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

