<form method="POST" action="/sign-in">
  Username <input type="text" name="[user]username" placeholder="Username">
  Password <input type="password" name="[user]password" placeholder="Password">
  <input type="submit">
</form>
