  <form id="sign_in" method="POST" action="/sign-in">
    <input class="form_input" type="text" name="[user]username" placeholder="Username">
    <input class="form_input" type="password" name="[user]password" placeholder="Password">
    <input class="user_button" type="submit">
  </form>
