<div>
   Welcome to the sign up page!
   <form id="sign_up" method="POST" action="/sign-up">
     <label for="[user]username">Username</label>
     <input class="form_input" type="text" name="[user]username" placeholder="Username"><br>
     <label for="[profile]fname">First Name</label>
     <input class="form_input" type="text" name="[profile]fname" placeholder="firstname"><br>
     <label for="[profile]lname">Last Name</label>
     <input class="form_input" type="text" name="[profile]lname" placeholder="lastname"><br>
     <label for="[user]email">Email</label>
     <input class="form_input" type="text" name="[user]email" placeholder="Email"><br>
     <label for="[profile]city">City</label>
     <input class="form_input" type="text" name="[profile]city" placeholder="City"><br>
     <label for="[profile]dob">Date Of Birth</label>
     <input class="form_input" type="text" name="[profile]dob" placeholder="Birthday"><br>
     <label for="[user]password">Password</label>
     <input class="form_input" type="password" name="[user]password" placeholder="Password"><br>
     <label for="confirm_password">Confirm Password</label>
     <input class="form_input" type="password" name="confirm_password" placeholder="Confirm Password"><br>
     <input class="user_button" type="submit">
   </form>
</div> 
