<form method="POST" action="/sign-in">
  <label for="[user]username">Username</label>
  <input type="text" name="[user]username" placeholder="Username">
  <label for="[user]password">Password</label>
  <input type="password" name="[user]password" placeholder="Password">
  <input type="submit">
</form>
