<form id="view_profile" method="GET" action="/view-profile">
   <input type="text" name="[user]firstname" value="<%= @user.firstname %>"><br>
   <input type="text" name="[user]lastname" value="<%= @user.lastname %>"><br>
   <input type="text" name="[user]email" value="<%= @user.email %>"><br>
   <input type="button" name="editprofile" value="Edit Profile"><br>
</form>

<% if flash[:notice] %>
  <div class="flash_notice">
    <%= flash[:notice] %>
  </div>
<% end %>
