canvas {
  position: absolute;
  top: 0;
  margin-left: 10px;
  width: 100%;
  height: 100%;
  border: 1px solid #000000;
  z-index: -1;
  /* background-image: set it in the javascript code */
}


body {
  background-color: rgb(245, 250, 255);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}
 
#page_content {
  display: block;
  width: 100%;
  height: 100%;
  left: 20px;
  top: 20px; 
  z-index: 2;
}

p {
  background-color: rgb(245, 250, 255);
}

form {
  position: relative;
  left: 200px;
  top: 100px; 
  border: solid 1px #a1a1a1;
  padding: 10px;
  width: 400px;
  background-color: rgb(245, 250, 255);
}

form label {
  display: block;
  width: 120px;
  float: left;
  margin-bottom: 10px;
}

.form_input {
  display: block;
  width: 250px;
  float: left;
  margin-bottom: 10px;
}

.user_button {
  float: right;
  width: auto;
  margin-bottom: 10px;
}
 
form label {
  text-align: right;
  padding-right: 20px;
}

form button {
  display: inline-block;
  float: right;
  cursor: pointer;
  margin: 0;
  padding: 10px 20px;
  border: 1px solid #032d3d;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: rgba(10,9,9,0.9);
  text-indent: 1px;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  word-spacing: 4px;
  background: #ecf0f1;
  -webkit-box-shadow: 3px 5px 5px 1px rgba(0,0,0,0.3) ;
  box-shadow: 3px 5px 5px 1px rgba(0,0,0,0.3) ;
  text-shadow: 0 0 0 rgba(5,4,4,0.25) ;
}

br {
  clear: left;
}

.flash_msg {
  width: 50%;
  position: absolute;
  left: 20px;
  top: 90px; 
}

#hello {
  width: 100%;
}

/* Top Navigation Bar - Start */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 150px;
  padding-top: 5px;
  background-color: #061328; 
  height: 50px;
  z-index: 9999;

  /*padding-right: px;*/
}

nav ul ul {
  display: none;
}

  nav ul li:hover > ul {
    display: block;
  }


nav ul {
  background-color: #061328; 
  /*background-color: rgba(255, 255, 255,0.1);*/
  list-style: none;
  position: relative;
  display: inline-table;
  margin: 0;
}
  nav ul:after {
    content: ""; 
    clear: both; 
    display: block;
  }

nav ul li {
  float: left;
  padding-bottom: 14px;
}
nav ul li:hover {
  background-color: #061328;
  /*text-decoration: underline;*/
}

nav ul li a {
  display: block; 
  margin: 10px 30px;
  color: #B4BDCC;
  text-decoration: none;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  padding-left: 4px;
  padding-right: 4px;
}
  
nav ul ul {
background-color: #061328;
border-radius: 0px; 
padding: 0;
position: absolute; 
left: 105px;
top: 50px;
}
nav ul ul li {
  float: none; 
  position: relative;
}
nav ul ul li a {
  padding: 15px 40px;
  /*color: #fff;*/
  margin: 0;
} 
nav ul ul li a:hover {
  background: #4b545f;
}

nav ul ul ul {
position: absolute; 
left: 100%; 
top:0;
}

/*#hello {
  background-color: #061328;
  width: 100%;
  height: 40px;
  position: absolute;
  top: 0;
}*/
 
/* Top Navigation Bar - End */

/* Left Navigation Bar - Start */

.left_nav {
  padding: 10px;
  list-style: none;
  border: 1px solid black;
  background: #061328;
  position: absolute;
  color: #B4BDCC;
  height: 100%;
  width: 90px;
  border-radius: 5px;
  /*border-left: 1px transparent #B4BDCC;
  border-right: 1px transparent #B4BDCC;
  padding-left: 4px;
  padding-right: 4px;*/
}

.left_nav a{
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  padding-left: 4px;
  padding-right: 4px;

}

.left {
  margin-top: 40px;
  padding: 10px;
}

.left a {
  text-decoration: none;
  color: #B4BDCC;
  font-family: 'Josefin Sans', sans-serif;
}

a:hover {
  border-left: 1px solid #B4BDCC;
  border-right: 1px solid #B4BDCC;
  /*padding-left: 4px;
  padding-right: 4px;*/
}

/* Left Navigation Bar - End */

