.post {
  top: 100px;
  background-color: #B4BDCC;
  padding: 20px;
  float: left;
  margin-left: 10px;
}

#past_10_posts {
  position: relative;
  top: 200px;
  background-color: #B4BDCC;
  padding: 20px;
  float: left;
  margin-left: 20px;
}

#each_post {
  position: relative;
  background-color: #B4BDCC;
  padding: 20px;
  margin-left: 10px;
  float: left;
}


