
#sign_in {
  position: absolute;
  width: 410px;
  height: 282px;
  top: 40%;
  left: 50%;
  margin-top: -174px;
  margin-left: -240px;
  text-shadow: 0px 0px rgba(255, 255, 255, 0.57);
  background-color: rgb(191, 233, 255);
  /*rgba(0, 0, 0, 0.32);*/
  z-index: 9999;
  text-align: center;
  line-height: 279px;
  box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.5);
}

#sign_in form_input {
  margin-right: 20px;
  width: 270px;
}

#sign_in user_button {
  width: auto;
}

.form_input {
    z-index: 5;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0 8px;
    margin: 44px auto;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid silver;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    color: #838383;
    width: 409px;
    display: block;
    margin-bottom: 10px;
    z-index: 5;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    direction: ltr;
    height: 44px;
    font-size: 16px;
    text-align: left;
}

.user_button {
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    display: inline-block;
    line-height: 23px;
    padding: 5px 18px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: rgb(141, 170, 198);
    border-color:  rgb(151, 180, 198);
    font-weight: normal;
    margin: 10px 0 0 0;
    color: #fff;
    position: absolute;
    right: 9px;
    bottom: 9px;
    font-size: 17px;
    width: 103px;
    height: 35px;
    outline: none;
    cursor: pointer;
}


.user_input:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}


